<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="APP_NAME" value="juice-service"/>
    <property name="INSTANCE" value="${HOST}:${PORT}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%date{ISO8601}][${APP_NAME}][${INSTANCE}][%5level][%logger:%L] %msg%n</Pattern>
        </layout>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/${APP_NAME}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>log/${APP_NAME}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!-- keep 1 year's worth of history -->
            <MaxHistory>365</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 20MB -->
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%date{ISO8601}][${APP_NAME}][${INSTANCE}][%5level][%logger:%L] %msg%n</Pattern>
        </layout>
    </appender>
    <!-- Error level appender -->
    <appender name="ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/ERROR.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>log/ERROR.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!-- keep 1 year's worth of history -->
            <MaxHistory>365</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 20MB -->
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%date{ISO8601}][${APP_NAME}][${INSTANCE}][%5level][%logger:%L] %msg%n</Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
    <logger name="com.hujiang" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.jooq" level="DEBUG">
    </logger>
</configuration>